@import 'basscss';
@import 'base';

.image-wrap {
  height: 15rem;
  width: 15rem;
}

.image-max {
  height: 100%;
  width: 100%;
}

.scroll-0 { z-index: 0; }
.scroll-1 { z-index: 1; }
.scroll-2 { z-index: 2; }
.scroll-3 { z-index: 3; }
.scroll-3 { z-index: 4; }

.scroll-back{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
